{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Welcome to PROJECTNAME</h1>
  <p>Description goes here</p>
  <button class="btn btn-primary btn-lg">Learn More &raquo;</button>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h4>Lorem ipsum dolor</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.</p>
  </div>
  <div class="col-md-1"></div>
</div>
  
{% endblock %}